.appspace-list-container {
  padding-top: 2em;

  .appspace-list {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    //align-items: flex-start;
    flex-wrap: wrap;

    .ant-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 1.5em 1.5em 0;
      //min-width: 300px;
      .ant-card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .spacer {
          flex-grow: 1;
        }
      }
    }
  }

}