.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;


  .header-body-right {
    //width: 40%;
    //max-width: 300px;
    //background-color: lightskyblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;

    div {
      padding-left: 1em;

      div {
        padding: 5px;
      }
    }
  }

  .header-body-left {
    font-family: Abel, sans-serif;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

    a {
      color: rgba(0, 0, 0, 0.65);
    }
    div {
      padding-right: 1em;
    }
  }

  .signout-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}