.objectdefinition-edit-main {
  .ant-row.ant-form-item {
    margin-bottom: 1em;
  }
}

//.objectDefinition-field-container {

.drag-handle {
  padding-right: 1em;
}

.objectdefinition-field-entry-container {
  background-color: white;
  position: relative;
  transition: 200ms ease-in-out;

  &.dragged:not(.dragLeft):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
  }

  &.dragged.dragLeft {
    //display: none;
    height: 0px;
    .objectdefinition-field-entry {
      height: 51px;
    }
  }

  .objectdefinition-field-entry {
    display: flex;
    flex-direction: row;
    padding: 0.4em 0 0.4em 0;
    margin: 0;


    &.header {
      font-size: 90%;
      font-weight: bold;
      padding-left: 0.5em;
    }

    //&:nth-child(2n) {
    //  background-color: #eeeeee;
    //}

    &:not(:first-child) {
      //border-top: 1px solid #eeeeee;
    }

    //input {
    //  background-color: transparent;
    //}

    .field-input {
      width: 100%;

      &:not(:last-child) {
        padding-right: 0.5em;
      }
    }

    .ellipsis-field {
      padding: 0 1.1em 0 0.5em;
      min-width: 35px;
    }

    .ant-form-item {
      margin-bottom: 1em;
    }
  }
}

.add-field-row {
  text-align: right;
  padding-right: 40px;
}

.ant-select {
  width: 100%;
}


.ellipsis-menu {
  .ellipsis-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div:not(:first-child) {
      padding-left: 1em;
    }

    .anticon {
      color: #d90000;
      font-weight: bold;
    }
  }
}