
body {
  @import url('https://fonts.googleapis.com/css?family=Abel');

  .header-wrapper {
    min-height: 50px;
    //background-color: orange;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: row;
    margin-bottom: 1em;
  }

  .main-content {
    padding: 1em;
  }

  .button-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button {
      margin-left: 1em;
    }
  }

  .card-container {
    padding: 1em 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    .ant-card {
      margin: 0 2em 2em 0;
    }
  }

  .fine-print {
    font-size: 85%;
    color: #888888;
  }
}
